<h3>Creaci&oacute;n Persona</h3>
<p-dialog header="Personas" [(visible)]="display">
  La persona ha sido editada correctamente
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="cerrarDialogo()" label="Cerrar"></button>
  </p-footer>
</p-dialog>
<div class="ui-g">
  <div class="ui-g-8">
    <form class="form-horizontal" #PersonaForm="ngForm">
    <!------------------------------------------------>
    <div class="form-group">
      <label for="nombre" class="col-sm-2 control-label">Nombre </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" placeholder="Nombre Persona" required [(ngModel)]="persona.nombre" name="nombre" #nombre="ngModel">
        <div [hidden]="nombre.valid || nombre.pristine " class="invalid-feedback alert alert-danger">
            El campo nombre no puede estar vacio
        </div>
      </div>
    </div>

    <!------------------------------------------------>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" (click)="guardar(persona)" [disabled]="!PersonaForm.form.valid">Guardar</button>
          <button type="submit" class="btn btn-default" (click)="regresar()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>