
{% for property in entity.properties %}
  {% if property is entity %}
import { {{property.type.name | capitalize}} } from './{{ property.type.name | lower }}';
  {% endif %}
{%endfor%}

export class {{entity.name|capitalize}} {
   _id: string;
  {% for property in entity.properties %}
  {% if property is entity %}
  {{property.name}}: {{ property.type.name }}[];
  {% else %}
  {{property.name}}:	{{ property.type | angulartype }};
  {% endif %}
	{% endfor %}
}
