
<h2>Agendas</h2>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-dataTable [value]="agendas">
  <p-column field="nombre" header="Nombre" [sortable]="true"></p-column>
  <p-column field="apellido" header="Apellido" [sortable]="true"></p-column>
  <p-column field="persona" header="Persona" [sortable]="true"></p-column>
<p-column field="" header="Acciones">
    <ng-template let-col let-registro="rowData" pTemplate="body">
      <button pButton icon="fa-close" type="button" (click)="borrar(registro)"></button>
      <button pButton icon="fa-edit" type="button" (click)="editar(registro)"></button>
    </ng-template>
  </p-column>
</p-dataTable>
<button class="accept" pButton type="button" label="Crear Agenda" (click)="newAgenda()"></button>